.product-card {
    border: 1px solid #666;
    border-radius: 6px;
    color: #FFF;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.product-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.product-info {
    display: flex;
    gap: 1rem;
    font-size: 14px;
    justify-content: space-between;
}

.availability {
    font-weight: 700;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
  }
  
  .tem {
    background-color: #4caf75; /* Verde para "TEM" */
    color: white;
  }
  
  .nao-tem {
    background-color: #f44c36; /* Vermelho para "NÃO TEM" */
    color: white;
  }