body {
  background: #111;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 24px;
  color: #FFF;
  margin: 20px 0;
  font-weight: bold;
}

.header {
  display: flex;
  gap: 16px;
}